@import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');

html,
body {
	font-size: 1.1em;
	--space : 20px;
	font-family: 'Noto Serif TC', serif;
}

h1,
h2 {
	padding: 0px 15px;
}

#prefacio {
	margin: 15px;
}

#conceptos {
	list-style: none;
	padding: 0;
	margin: 0;
}

.concepto {
	margin: var(--space);
	line-height: 1.3;
	text-align: justify;
	text-justify: inter-word;
}

.concepto-nombre {
	margin-right: var(--space);
	font-weight: bold;
}

.tipo {
	margin: 0 var(--space);
}

footer {
	padding: 0;	
}

footer p {
	margin: 0 15px;
}